mat-card{
  width: 100%;
  min-width: 500px;
  max-width: 768px;
  margin: 0 auto;

  mat-card-title{
    color:#fff;
  }

  table {
    width: 100%;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  td,
  th {
    width: 10%;
  }
}